
.frontTables {
    z-index: 1000000;
    border-radius: 3%;
    position: fixed;
    background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    transform: translate3d(0, 0, 0);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.frontTables {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: "Courier New",serif;
    color: white;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.frontTables th,
.frontTables td {
    padding: 12px 15px;
    border: 1px solid black
}
.frontTables tbody tr {
    border-bottom: 1px solid #dddddd;
}
